# example server configuration file

[http_service]
host = "localhost" 
port = 8080
cors_hosts = []

[database]
connection_string = "postgres://user:password@localhost/database_name"

[mqtt]
broker_id = "broker_name"
host = "host_name"
port = 1883
username = "client_name"
passw = "password"

[email]
smtp_server = "smtp.gmail.com"
smtp_user = "example@gmail.com"
smtp_passw = "password"
author_name = "bob"
from_address = "example@gmail.com"
to_addresses = "example@gmail.com"

[logging]
log_level = "Info"
file = "logs/schili_server/output.log"
